/* Base reset */
* {
  margin: 0;
  padding: 0;
}

/* box-sizing and font sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  /* Set font size for easy rem calculations
   * default document font size = 16px, 1rem = 16px, 100% = 16px
   * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
  */
  font-size: 62.5;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: white;
  overflow-x: hidden; /* Hide scrollbars */
}

h2 {
  font-family: arial black;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.4;
  text-align: center;
  text-transform: uppercase;
  padding: 30px 0 5px 0;
}

a {
  text-decoration: none;
  color: white;
}

img {
  display: block;
  width: 100%;
  border-radius: 20px 20px 0 0;
}

#home {
  height: 100vh;
  overflow: hidden;
}

#footerVideo {
  display: block;
  height: 100vh;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg); /* Safari and Chrome */
  -moz-transform: rotateY(180deg); /* Firefox */
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
}

#projects {
  height: auto;
  overflow: hidden;
}

#navbar {
  overflow: hidden;
  background-color: transparent;
  animation: navanimation 5s forwards ease-in;
  z-index: 100;
}

@keyframes navanimation {
  0% {
    opacity: 0;
    filter: blur(20px);
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

#navbar a {
  float: right;
  display: block;
  font-size: 1.05rem;
  color: gold;
  font-family: arial black;
  text-align: center;
  padding: 20px;
  margin: 1rem 1rem;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 1px 1px 10px #ffffff;
}

#navbar a:hover {
  color: #fff;
  cursor: pointer;
  text-shadow: 2px 2px 14px rgb(255, 136, 0);
  transition: color 0.3s ease-out;
  transform: translateY(5px);
}

.content {
  padding: 1rem;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky a {
  padding-top: 60px;
}

h1 {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 60%;
  transform: translateY(-100%);
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 6em;
  font-family: arial black;
  text-transform: uppercase;
}

h1 span {
  display: inline-block;
  animation: animate 0.5s linear forwards;
  /* animation-fill-mode: both; */
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotateY(90deg);
    filter: blur(10px);
  }
  100% {
    opacity: 1;
    transform: rotateY(0deg);
    filter: blur(0);
  }
}

h1 span:nth-child(1) {
  opacity: 0;
  animation-delay: 1s;
}

h1 span:nth-child(2) {
  color: gold;
  opacity: 0;
  animation-delay: 1.2s;
}

h1 span:nth-child(3) {
  opacity: 0;
  animation-delay: 1.4s;
}

h1 span:nth-child(4) {
  opacity: 0;
  animation-delay: 1.6s;
}

h1 span:nth-child(5) {
  color: gold;
  opacity: 0;
  animation-delay: 1.8s;
}

h1 span:nth-child(6) {
  opacity: 0;
  animation-delay: 2s;
}

h1 span:nth-child(7) {
  opacity: 0;
  animation-delay: 2.2s;
}

h1 span:nth-child(8) {
  opacity: 0;
  animation-delay: 2.4s;
}

h1 span:nth-child(9) {
  opacity: 0;
  animation-delay: 2.6s;
}

h2.webdev {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 65%;
  width: 100%;
  text-align: center;
  color: goldenrod;
  font-size: 2em;
  font-family: arial black;
  text-transform: capitalize;
  animation: h2 4s forwards ease-in;
}

@keyframes h2 {
  0% {
    opacity: 0;
    filter: blur(10px);
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

.projects-section {
  text-align: center;
  padding: 0rem 2rem;
  background-color: #000000;
  background-image: linear-gradient(180deg, black 33%, #ec9f05 30%, #000000 0%);
}



.projects-section-header {
  max-width: 35rem;
  font-size: 1.5rem;
  margin: 0 auto 3rem auto;
  border-bottom: 0.1rem solid goldenrod;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 4rem;
}

.project {
  border-radius: 20px;
  height: 320px;
  box-shadow: 1px 1px 10px rgb(202, 202, 202);
  transition: transform 0.3s ease-out;
  transition: box-shadow 0.3s ease-out;
}

.project:hover {
  box-shadow: 1px 1px 10px 3px rgb(255, 136, 0);
  transform: translateY(8px);
}

.code {
  color: goldenrod;
  transition: color 0.3s ease-out;
}

.project:hover .code {
  color: rgb(167, 119, 0);
}

.project-image {
  height: calc(100% - 4.3rem);
  width: 100%;
  object-fit: cover;
}

.project-title {
  font-family: arial black;
  font-weight: 100;
  font-size: 1.5rem;
  padding: 1.12rem 0.5rem;
  color: white;
  background-color: rgb(75, 75, 75);
  border-radius: 0 0 20px 20px;
  transition: color 0.3s ease-out;
  transition: background 0.3s ease-out;
}

.project-title:hover {
  color: rgb(49, 49, 49);
  background-color: gold;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
}

.btn-show-all {
  font-family: arial black;
  font-size: 1.2rem;
  background: goldenrod;
  transition: background 0.3s ease-out;
  transition: color 0.3s ease-out;
  text-transform: uppercase;
  border-radius: 30px;
  margin-bottom: 4rem;
  box-shadow: 2px 2px 5px rgb(255, 30, 0);
}

.btn-show-all:hover {
  background: gold;
  color: rgb(49, 49, 49);
  font-weight: 700;
  box-shadow: 2px 2px 8px white;
}

.btn-show-all > i {
  margin-left: 10px;
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}

.btn-show-all:hover > i {
  transform: translateX(6px);
}

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  background: transparent;
  font-family: arial black;
}

.contact-section-header {
  position: absolute;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  z-index: 100;
}

.contact-section-header > h2 {
  font-family: arial black;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 1rem;
  flex-wrap: wrap;
  position: absolute;
  transform: translateY(140%);
  z-index: 100;
}

.contact-details {
  font-size: 1.5rem;
  text-shadow: 2px 2px 35px #ffffff;
  transition: transform 0.3s ease-out;
  transition: color 0.3s ease-out;
  color: gold;
}

.contact-details:hover {
  transform: translateY(8px);
  cursor: pointer;
  color: rgb(26, 26, 26);
  text-shadow: 2px 2px 10px rgb(255, 30, 0);
}

.footer-info {
  font-weight: 300;
  display: flex;
  width: 50rem;
  justify-content: space-evenly;
  padding: 2rem;
  background: transparent;
  border-top: 4px solid goldenrod;
  position: absolute;
  transform: translateY(200%);
  z-index: 100;
  font-size: 1.1rem;
}

.footer-info > p {
  margin: 2rem;
}

@media (max-width: 1200px) {
  html {
    font-size: 60%;
  }
  #navbar {
    text-align: center;
    padding: 15px 10px;
  }
  #navbar a {
    display: flex;
    justify-content: center;
    margin: 0 0.2rem;
    font-size: 1.5rem;
  }
  h1 {
    top: 60%;
    transform: translateY(-100%);
    font-size: 9em;
  }
  h2.webdev {
    top: 65%;
    font-size: 3em;
  }
  .projects-section-header {
    max-width: 45rem;
    margin: 5rem auto 5rem auto;
    font-size: 2rem;
  }
  h2 {
    font-size: 3rem;
  }
  .projects-section {
    padding: 0rem 4rem;
  }
  .projects-grid {
    grid-gap: 8rem;
    margin-bottom: 6rem;
  }
  .project-title {
    font-size: 2.4rem;
    padding: 3rem 0.5rem;
  }
  .project-image {
    height: calc(100% - 9.3em);
    width: 100%;
    object-fit: cover;
  }
  .btn {
    padding: 2rem 4rem;
  }
  .btn-show-all {
    font-size: 2rem;
    margin-top: 4rem;
    margin-bottom: 8rem;
  }
  .contact-section-header {
    transform: translateY(-50%);
  }
  .contact-section-header > h2 {
    font-size: 4rem;
  }
  .contact-links {
    transform: translateY(200%);
  }
  .contact-details {
    font-size: 1.8rem;
  }
  .footer-info {
    width: 90rem;
    padding: 4rem;
    border-top: 3px solid goldenrod;
    transform: translateY(200%);
    font-size: 1.3rem;
  }

  .footer-info > p {
    margin: 1rem;
  }
  #footerVideo {
    height: 100vh;
    overflow: hidden;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg); /* Safari and Chrome */
    -moz-transform: rotateY(180deg); /* Firefox */
  }
}

@media (max-width: 992px) {
  html {
    font-size: 50%;
  }
  #navbar {
    text-align: center;
    padding: 15px 10px;
  }
  #navbar a {
    display: flex;
    justify-content: center;
    margin: 0 0.2rem;
    font-size: 1.8rem;
  }
  h1 {
    top: 60%;
    transform: translateY(-100%);
    font-size: 9em;
  }
  h2.webdev {
    top: 65%;
    font-size: 3em;
  }
  .projects-section-header {
    max-width: 45rem;
    margin: 5rem auto 5rem auto;
    font-size: 2rem;
  }
  h2 {
    font-size: 3rem;
  }
  .projects-section {
    padding: 0rem 4rem;
  }
  .projects-grid {
    grid-gap: 8rem;
    margin-bottom: 6rem;
  }
  .project-title {
    font-size: 2.4rem;
    padding: 3rem 0.5rem;
  }
  .project-image {
    height: calc(100% - 9.3em);
    width: 100%;
    object-fit: cover;
  }
  .btn {
    padding: 2rem 4rem;
  }
  .btn-show-all {
    font-size: 2rem;
    margin-top: 4rem;
    margin-bottom: 8rem;
  }
  .contact-section-header {
    transform: translateY(-50%);
  }
  .contact-section-header > h2 {
    font-size: 4rem;
  }
  .contact-links {
    transform: translateY(200%);
  }
  .contact-details {
    font-size: 1.8rem;
  }
  .footer-info {
    width: 90rem;
    padding: 4rem;
    border-top: 3px solid goldenrod;
    transform: translateY(200%);
    font-size: 1.3rem;
  }

  .footer-info > p {
    margin: 1rem;
  }
  #footerVideo {
    height: 100vh;
    overflow: hidden;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg); /* Safari and Chrome */
    -moz-transform: rotateY(180deg); /* Firefox */
  }
}

@media (max-width: 768px) {
  html {
    font-size: 40%;
  }
  #navbar {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 15px 10px;
  }
  #navbar a {
    display: flex;
    justify-content: center;
    margin: 0 0.2rem;
    font-size: 2rem;
  }
  h1 {
    top: 60%;
    transform: translateY(-100%);
    font-size: 8em;
  }
  h2.webdev {
    top: 65%;
    font-size: 2.5em;
  }
  .projects-section-header {
    max-width: 45rem;
    margin: 5rem auto 5rem auto;
    font-size: 2rem;
  }
  h2 {
    font-size: 3rem;
  }
  .projects-section {
    padding: 0rem 4rem;
  }
  .projects-grid {
    grid-gap: 8rem;
    margin-bottom: 6rem;
  }
  .project-title {
    font-size: 3rem;
    padding: 3rem 0.5rem;
  }
  .project-image {
    height: calc(100% - 10.2em);
    width: 100%;
    object-fit: cover;
  }
  .btn {
    padding: 2rem 4rem;
  }
  .btn-show-all {
    font-size: 2rem;
    margin-top: 4rem;
    margin-bottom: 8rem;
  }
  .contact-section-header {
    transform: translateY(-50%);
  }
  .contact-section-header > h2 {
    font-size: 4rem;
  }
  .contact-links {
    transform: translateY(190%);
  }
  .contact-details {
    font-size: 1.5rem;
  }
  .footer-info {
    width: 80rem;
    padding: 4rem;
    border-top: 3px solid goldenrod;
    transform: translateY(190%);
    font-size: 1.3rem;
  }

  .footer-info > p {
    margin: 1rem;
  }
  #footerVideo {
    height: 100vh;
    overflow: hidden;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg); /* Safari and Chrome */
    -moz-transform: rotateY(180deg); /* Firefox */
  }
}

@media (max-width: 554px) {
  html {
    font-size: 30%;
  }
  #navbar {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 15px 1px;
  }
  #navbar a {
    display: flex;
    justify-content: center;
    margin: 0 0.2rem;
    font-size: 2rem;
  }
  h1 {
    top: 60%;
    transform: translateY(-100%);
    font-size: 7.5em;
  }
  h2.webdev {
    top: 65%;
    font-size: 2.5em;
  }
  .projects-section-header {
    max-width: 52rem;
    margin: 5rem auto 5rem auto;
    font-size: 2.3rem;
  }
  h2 {
    font-size: 3rem;
  }
  .projects-section {
    padding: 0rem 4rem;
  }
  .projects-grid {
    grid-gap: 8rem;
    margin-bottom: 6rem;
  }
  .project-title {
    font-size: 4rem;
    padding: 3rem 0.5rem;
  }
  .project-image {
    height: calc(100% - 11.5em);
    width: 100%;
    object-fit: cover;
  }
  .btn {
    padding: 2rem 4rem;
  }
  .btn-show-all {
    font-size: 2rem;
    margin-top: 4rem;
    margin-bottom: 8rem;
  }
  .contact-section-header {
    transform: translateY(-50%);
  }
  .contact-section-header > h2 {
    font-size: 4rem;
    margin-bottom: 4rem;
  }
  .contact-links {
    transform: translateY(70%);
  }
  .contact-details {
    font-size: 2.5rem;
  }
  .footer-info {
    width: 70rem;
    padding: 5rem;
    border-top: 3px solid goldenrod;
    transform: translateY(190%);
    font-size: 1.4rem;
  }

  .footer-info > p {
    margin: 1rem;
  }
  #footerVideo {
    height: 100vh;
    overflow: hidden;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg); /* Safari and Chrome */
    -moz-transform: rotateY(180deg); /* Firefox */
  }
}

@media (max-width: 385px) {
  html {
    font-size: 25%;
  }
  #navbar {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 15px 1px;
  }
  #navbar a {
    display: flex;
    justify-content: center;
    margin: 0 0.2rem;
    font-size: 1.7rem;
  }
  h1 {
    top: 60%;
    transform: translateY(-100%);
    font-size: 7.5em;
  }
  h2.webdev {
    top: 65%;
    font-size: 2.5em;
  }
  .projects-section-header {
    max-width: 57rem;
    margin: 5rem auto 5rem auto;
    font-size: 2.5rem;
  }
  h2 {
    font-size: 3rem;
  }
  .projects-section {
    padding: 0rem 4rem;
  }
  .project-tile {
    width: 95%;
  }
  .projects-grid {
    justify-content: center;
    margin-left: 2rem;
    grid-gap: 8rem;
    margin-bottom: 6rem;
  }

  .project-title {
    font-size: 4rem;
    padding: 3rem 0.5rem;
  }
  .project-image {
    height: calc(100% - 11.5em);
    width: 100%;
    object-fit: cover;
  }
  .btn {
    padding: 2rem 4rem;
  }
  .btn-show-all {
    font-size: 2rem;
    margin-top: 4rem;
    margin-bottom: 8rem;
  }
  .contact-section-header {
    transform: translateY(-50%);
  }
  .contact-section-header > h2 {
    font-size: 4rem;
  }
  .contact-links {
    transform: translateY(90%);
  }
  .contact-details {
    font-size: 3rem;
  }
  .footer-info {
    width: 70rem;
    padding: 5rem;
    border-top: 3px solid goldenrod;
    transform: translateY(230%);
    font-size: 1.4rem;
  }

  .footer-info > p {
    margin: 1rem;
  }
  #footerVideo {
    height: 100vh;
    overflow: hidden;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg); /* Safari and Chrome */
    -moz-transform: rotateY(180deg); /* Firefox */
  }
}
